.button {
  display: inline-block;
  line-height: 3em;
  padding: 0 1em;
  background: transparent;
  border-radius: 0.225em;
  border-color: #D274E6;
  border-style: solid;
  background-clip: padding-box;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 2em;
  cursor: default;
}

a {
  color:#7CBDBA;
  text-decoration: none;
}

#wrapper {
  position: absolute;
  top: 450px;

  margin-left: auto;
  margin-right: auto;

}

header {
  width: 37.5em;
  margin: 2em auto;
}

.logo {
  background: url("http://s.cdpn.io/7635/averyson-logo.gif") no-repeat;
  background-size: 100%;
  float: left;
  width: 100%;
  height: 30em;
  font-family: Baskerville;
  color: #575557;
  position: relative;
}

.Jammu, .Kashmir, .ampersand {
  font-size: 5em;
  text-align: center;
}

.Jammu {
  position: absolute;
  top: 120px;
  left: 225px;
}

.Kashmir {
  position: absolute;
  top: 195px;
  left: 335px;
}

.ampersand {
  font-style: italic;
  position: absolute;
  top: 165px;
  left: 260px;
}

date {
  border-top: 1px solid #575557;
  border-bottom: 1px solid #575557;
  position: absolute;
  top: 250px;
  left: 260px;
}

.groom {
  position: absolute;
  font-size: 2em;
  top: 140px;
  left: 255px;
}

.bride {
  position: absolute;
  font-size: 2em;
  top: 220px;
  left: 380px;
}

label {
  color:#7CBDBA;;
}

body {
  background: white;
}
