@-webkit-keyframes moveColor {
  from {
    background-color: #43536E;
  }
  10% {
    background-color: #591553;
  }
  20% {
    background-color: #00d5d6;
  }
  30% {  
    background-color: #8C0303;
  }
  40% {
    background-color: #D6873A;
  }
  50% {
    background-color: #3D4047;
  }
  60% {
    background-color: #ffa73d;
  }
  70% {
    background-color: #0089B3;
  }
  80% {
    background-color: #9FB309;
  }
  90% {
    background-color: #3a3a3a;
  }
  100% {
    background-color: #5B4D41;
  }
  to {
    background-color: #43536E;
  }
}

@keyframes moveColor {
  from {
    background-color: #43536E;
  }
  10% {
    background-color: #591553;
  }
  20% {
    background-color: #00d5d6;
  }
  30% {
    background-color: #8C0303;
  }
  40% {
    background-color: #D6873A;
  }
  50% {
    background-color: #3D4047;
  }
  60% {
    background-color: #ffa73d;
  }
  70% {
    background-color: #0089B3;
  }
  80% {
    background-color: #9FB309;
  }
  90% {
    background-color: #3a3a3a;
  }
  100% {
    background-color: #5B4D41;
  }
  to {
    background-color: #43536E;
  }
} 
html {
-webkit-animation: moveColor 100s ease infinite;
animation: moveColor 100s ease infinite;
-webkit-transition: 1s;
transition: 1s;
}


h1 {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 2em;
  width: 100px;
  height: 100px;
  font-weight: 200;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;

  -webkit-animation: anim 4s ease forwards 1s infinite;
  animation: anim 4s ease forwards 1s infinite;
}


@-webkit-keyframes anim {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg);
  }
  75% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg) translateZ(60px);
  }
  100% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    letter-spacing: 8px;
    -webkit-transform: rotateY(0deg) translateZ(100px);
  }

}
@keyframes anim {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0;
    -moz-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -moz-transform: rotateY(0deg);
  }
  75% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -moz-transform: rotateY(0deg) translateZ(60px);
  }
  100% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    letter-spacing: 8px;
    -moz-transform: rotateY(0deg) translateZ(100px);
  }

}